.action:hover {
	background-color: unset !important;
}

table.resident_history_list td span { white-space: normal !important;}

.filter-search-text-box { margin: 0 4px; }

.entrata-svg-icon-download {
	width: 14px;
	height: 11px;
}

.entrata-svg-icon-download.fill-blue {
	fill: #1175ce;
}

.filter-no-result {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #22313C;
}

.add-activity-form-time {
	border-right: none !important;
	width: 30%;
}

.add-activity-am-pm {
	border-left: 1px solid var(--m-gray-500) !important;
	margin-right: 20px !important;
	width: inherit;
}

.fill-al-skyblue, .fill-al-note-icon, .fill-al-chat-icon {
	fill: #4296DA;
}

.fill-al-black, .fill-al-document-icon {
	fill: #383838;
}

.fill-al-peach {
	fill: #A3546f;
}

.fill-al-cash-icon {
	fill: #58895E;
}

.fill-al-maintenance-icon {
	fill: #A3613F;
}

.fill-al-people-icon, .fill-al-website-icon {
	fill: #EA8352;
}

.fill-al-red {
	fill: #D3353E;
}

.al-down-arrow-margin {
	margin-top: 11px !important;
}


.inline-div {
	display: inline-block;
	vertical-align: top;
	padding: 12px;
}

.float-right {
	float: right;
}

div.pinned-notes {
	width: 88%;
}

.pinned-row-background{
	background: #FFF6E0;
}

.toggle-note{
	border: none !important;
}

#activity-pinned-note-btn .loading-overlay.bg-img-small {
	background-position: 1% 1% !important;
}

#show-pinned-note-modal{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

div#activity-download-action{
	position: absolute;
	right: 10px
}

div#activity-download-action ul{
	position: relative;
	width: 115px;
	cursor: pointer;
	color: #333 !important;
	background: #ffffff;
	border: 1px solid #d1d1d1;
	font-size: 13px;
	line-height: 26px;
	min-height: 24px;
	padding: 0px 9px;
	z-index: 1;
	margin-top: 1px;
	text-align: left;
}

