body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --form-input-text: Inter;

  /* font sizes */
  --button-small-button-text-size: 14px;
  --form-input-text-size: 13px;
  --heading-h2-size: 24px;
  --heading-h4-size: 18px;
  --button-slim-button-text-size: 10px;
  --body-body-copy-1-size: 16px;
  --heading-h3-size: 21px;

  /* Colors */
  --meridian-blue-700: #1578c9;
  --base-white: #fdfdfd;
  --meridian-gray-700: #7a7a7a;
  --gray-dark: #777676;
  --meridian-black: #292929;
  --meridian-blue-800: #135791;
  --meridian-gray-100: #f5f5f5;
  --color-whitesmoke-100: #ebebeb;
  --meridian-blue-100: #dfeefa;
  --meridian-gray-500: #b8b8b8;
  --color-darkslategray: #383838;
  --gray-light: #e0e0e0;
  --color-gainsboro-100: #d9d9d9;
  --gray-gray: #999;
  --gray-medium: #d4d3d3;
  --gray-subtle: #ccc;
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-8xs: 5px;
  --gap-3xs: 10px;
  --gap-5xl: 24px;
  --gap-base: 16px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-base: 16px;
  --br-10xs: 3px;
  --br-9xs: 4px;

  /* Effects */
  --shadow-inner: 0px 2px 4px rgba(0, 0, 0, 0.06) inset;
}


.top-app-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--base-white);
  width: 100%;
  height: 56px;
}
.modal-top-bar1 .x-icon1 {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 24px;
  height: 24px;
}
.property-search1 {
  position: absolute;
  top: 12px;
  width: 100%;
  height: 100vh;
  left: 40px;
  line-height: 32px;
  font-weight: 600;
}
.modal-top-bar-item {
  position: absolute;
  top: 55.5px;
  left: -0.5px;
  border-top: 1px solid var(--gray-light);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.modal-top-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  overflow: hidden;
}
.add-lead-child {
  position: absolute;
  top: 55.5px;
  left: 374.5px;
  border-right: 1px solid var(--gray-light);
  box-sizing: border-box;
  width: 1px;
  height: 913px;
}
.image-4 {
  position: absolute;
  top: 80px;
  left: 375px;
  background-color: #e7e7e7;
  width: 100%;
  height: 100vh;
}
.frame-child-1,
.frame-item {
  position: relative;
  height: 24px;
}
.frame-child-1 {
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 24px;
}
.frame-item {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 234px;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-inner,
.property-group-title-inner {
  position: relative;
  width: 266px;
  height: 24px;
}
.frame-inner {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 234px;
  height: 16px;
}
.property-group-title,
.property-group-title-child,
.rectangle-wrapper,
.ttile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-group-title,
.property-group-title-child,
.ttile {
  flex-direction: column;
}
.property-group-title-child {
  padding: 0 0 0 var(--padding-13xl);
}
.property-group-title,
.ttile {
  overflow: hidden;
}
.property-group-title {
  width: 375px;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.ttile {
  background-color: var(--base-white);
}
.price-div {
  position: absolute;
  top: 0;
  left: 1px;
  line-height: 24px;
  font-weight: 600;
  height: 24px;
}
.ellipse-div,
.rectangle-div {
  position: relative;
  height: 16px;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 16px;
}
.rectangle-div {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 115px;
}
.frame-wrapper,
.floor-plan-cards .parent {
  position: absolute;
  top: 36px;
  left: 0;
  width: 139px;
  height: 16px;
}
.floor-plan-cards .parent {
  top: 12px;
  left: 136px;
  height: 52px;
}
.photo1,
.photo-child1 {
  position: absolute;
  width: 96px;
  height: 96px;
}
.photo-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
}
.photo {
  top: calc(50% - 48px);
  left: 16px;
  overflow: hidden;
}
.price-tag-icon1,
.unit-card-child {
  position: absolute;
  top: 8px;
  left: 343px;
  width: 24px;
  height: 24px;
}
.unit-card-child {
  top: 12px;
  left: 136px;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 139px;
}
.unit-card {
  position: relative;
  background-color: var(--base-white);
  width: 375px;
  height: 112px;
  overflow: hidden;
  flex-shrink: 0;
}
.floor-plan-cards,
.property-section {
  background-color: var(--base-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.floor-plan-cards {
  overflow-y: auto;
}
.property-section {
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-base);
}
.floor-plans-empty,
.parameters-inner {
  position: absolute;
  box-sizing: border-box;
}
.floor-plans-empty {
  top: 80px;
  left: 0;
  height: 817px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 24px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.parameters-inner {
  bottom: -0.5px;
  left: -0.5px;
  width: 1441px;
  height: 1px;
}
.image-699-icon1 {
  position: relative;
  width: 230.4px;
  height: 32px;
  object-fit: cover;
}
.calendar-blank-icon3 {
  position: absolute;
  top: 16px;
  right: 95px;
  width: 16px;
  height: 16px;
}
.start1 {
  position: absolute;
  top: 16px;
  left: 32px;
  line-height: 16px;
}
.calendar-blank-container {
  position: relative;
  width: 111px;
  height: 16px;
}
.group-frame {
  border-radius: var(--br-9xs);
  box-shadow: var(--shadow-inner);
  border: 1px solid var(--meridian-gray-500);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
  var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--button-small-button-text-size);
  color: var(--meridian-black);
}
.calendar-blank-icon4 {
  position: absolute;
  top: 16px;
  right: 42px;
  width: 16px;
  height: 16px;
}
.calendar-blank-parent1 {
  position: relative;
  width: 58px;
  height: 16px;
}
.group-wrapper1 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--meridian-gray-500);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
  var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--button-small-button-text-size);
  color: var(--meridian-black);
}
.choose-one7,
.color-icon20 {
  position: relative;
}
.color-icon20 {
  width: 5px;
  height: 3px;
}
.dropdowns6,
.icon-wrapper13 {
  display: flex;
  align-items: center;
}
.icon-wrapper13 {
  width: 12px;
  height: 12px;
  flex-direction: column;
  justify-content: center;
}
.dropdowns6 {
  border-radius: var(--br-10xs);
  background-color: var(--base-white);
  box-shadow: 0-1px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid var(--meridian-gray-500);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-13xl);
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.color-icon21 {
  position: relative;
  width: 0;
  height: 0;
}
.circle-plus-icon7 {
  position: relative;
  width: 16px;
  height: 16px;
}
.icon-wrapper14 {
  width: 16px;
  height: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown-clearable5,
.dropdowns7 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-clearable5 {
  display: none;
  gap: var(--gap-3xs);
}
.dropdowns7 {
  border-radius: var(--br-10xs);
  background-color: var(--base-white);
  box-shadow: 0-1px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid var(--meridian-gray-500);
  display: flex;
  padding: var(--padding-5xs);
  gap: var(--gap-8xs);
}
.choose-one10 {
  position: relative;
  display: none;
}
.dropdowns10 {
  border-radius: var(--br-10xs);
  background-color: var(--base-white);
  box-shadow: 0-1px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid var(--meridian-gray-500);
  display: none;
  padding: var(--padding-5xs);
  align-items: center;
  gap: var(--gap-8xs);
}
.dropdown-clearable9,
.dropdowns10,
.image-699-group {
  flex-direction: row;
  justify-content: flex-start;
}
.dropdown-clearable9 {
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
}
.image-699-group {
  position: absolute;
  top: 32px;
  left: 24px;
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xl);
  color: var(--color-darkslategray);
}
.parameters-child1 {
  position: absolute;
  top: 64px;
  left: 466px;
  width: 599px;
  height: 849px;
  overflow: hidden;
}
.property-property-group {
  color: var(--meridian-gray-700);
}
.bath1,
.bed1,
.lease-end1,
.lease-start1,
.property1 {
  position: absolute;
  top: 12px;
  line-height: 16px;
  display: none;
}
.property1 {
  left: 24px;
  color: #d3353e;
}
.bath1,
.bed1,
.lease-end1,
.lease-start1 {
  left: 278px;
}
.bath1,
.bed1,
.lease-end1 {
  left: 391px;
}
.bath1,
.bed1 {
  left: 497px;
}
.bath1 {
  left: 569px;
}
.price1 {
  left: 641px;
  display: none;
}
#centralization_form_add_lead .level1,
.price1,
.term1 {
  position: absolute;
  top: 12px;
  line-height: 16px;
}
#centralization_form_add_lead .level1 {
  left: 785px;
  display: none;
}
.term1 {
  left: 713px;
}
.filterempty1,
.parameters1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.parameters1 {
  width: 100%;
  right: 0;
  border: 1px solid var(--gray-light);
  box-sizing: border-box;
  overflow: hidden;
}
.filterempty1 {
  width: 100%;
}
.frame-child13,
.frame-child14 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 72px;
  height: 32px;
}
.frame-child14 {
  width: 48px;
}
.rectangle-parent {
  position: absolute;
  top: 24px;
  left: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.content-empty,
.filterempty-parent {
  position: absolute;
  background-color: var(--base-white);
  width: 100%;
  overflow: hidden;
}
.filterempty-parent {
  top: 0;
  left: -1px;
  height: 80px;
  font-size: var(--form-input-text-size);
  color: var(--meridian-gray-700);
}
.content-empty {
  top: 55px;
  left: 376px;
  height: 100vh;
  font-size: var(--heading-h3-size);
}
.field-child {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 234px;
  height: 32px;
}
.centralization-middle-content-empty.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.field-inner {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 200px;
  height: 32px;
}
.field2 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.field-child1 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 120px;
  height: 32px;
}
.field-group,
.field3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field3 {
  width: 120px;
  flex-direction: column;
}
.field-group {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.field-child3 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 126px;
  height: 32px;
}
.field5 {
  width: 126px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.field-child4 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 343px;
  height: 80px;
}
.field6,
.field7 {
  position: absolute;
  left: 0;
}
.field6 {
  top: 0;
  width: 343px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.field7 {
  top: 21.4px;
  height: 10.36px;
}
.field-container,
.line-div {
  position: relative;
  width: 343px;
  height: 32px;
}
.line-div {
  border-top: 1px solid var(--gray-medium);
  box-sizing: border-box;
  width: 344px;
  height: 1px;
  display: none;
}
.opportunities1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.opportunities {
  position: relative;
  background-color: var(--color-white);
  width: 343px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.notes {
  position: relative;
  line-height: 24px;
}
.notes-wrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.field9 {
  position: relative;
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-medium);
  box-sizing: border-box;
  width: 343px;
  height: 80px;
}
.field8 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-body-copy-1-size);
  color: var(--gray-dark);
}
.add-lead .slim {
  flex: 1;
  position: relative;
  letter-spacing: 1px;
  line-height: 10px;
  text-transform: uppercase;
}
.add-lead .slim-button {
  border-radius: var(--br-9xs);
  background-color: var(--meridian-blue-100);
  width: 197px;
  height: 20px;
  display: none;
  flex-direction: row;
  padding: 4px var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--button-slim-button-text-size);
  color: var(--meridian-blue-700);
}
.field-parent {
  position: absolute;
  top: 64px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.lead-information {
  position: absolute;
  top: 16px;
  left: 16px;
  line-height: 24px;
  font-weight: 600;
}
.guest-card,
.guest-card-wrapper {
  position: absolute;
  left: 0;
  width: 375px;
  height: 100vh;
}
.guest-card {
  top: 0;
  background-color: var(--base-white);
  overflow-y: auto;
}
.guest-card-wrapper {
  top: 56.76px;
}
.color-icon30 {
  position: relative;
  width: 20px;
  height: 14.5px;
}
.icon-wrapper24px1 {
  width: 24px;
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.additional-menu-icon {
  border-radius: var(--br-5xs);
  background-color: var(--meridian-gray-100);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.color-icon31 {
  position: relative;
  width: 17px;
  height: 24px;
}
.interruptive-actions-bar {
  position: absolute;
  top: 0;
  left: 16px;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  width: 327px;
  height: 56.76px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-5xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.group-parent-empty {
  position: absolute;
  top: 56px;
  left: 0;
  width: 375px;
  height: 936.76px;
  font-size: var(--heading-h4-size);
  color: var(--color-black);
  border-top: 1px solid var(--gray-light);
}
.button-text5 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.button3 {
  border-radius: var(--br-5xs);
  height: 40px;
  display: none;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.color-icon32 {
  position: relative;
  width: 12px;
  height: 6.67px;
}
.button4 {
  border-radius: var(--br-5xs);
  background-color: var(--meridian-blue-100);
  height: 40px;
  display: none;
  padding: var(--padding-xs);
  justify-content: flex-start;
}
.button4,
.button5,
.standard-save-bar1 {
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-5xs);
}
.button5 {
  border-radius: var(--br-5xs);
  background-color: var(--meridian-blue-700);
  height: 40px;
  display: none;
  padding: var(--padding-xs);
  justify-content: flex-start;
  color: var(--base-white);
}
.standard-save-bar1 {
  position: fixed;
  left: 0;
  bottom: 0px;
  border-radius: 0 0 var(--br-base) var(--br-base);
  background-color: var(--meridian-gray-100);
  width: 100%;
  display: flex;
  padding: var(--padding-base);
  justify-content: flex-end;
  text-align: center;
  font-size: var(--button-small-button-text-size);
  color: var(--meridian-blue-800);
}
.add-lead {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--meridian-black);
  font-family: var(--form-input-text);
}
.c.field-child, .additional-menu-icon, .field-child, .frame-child13, .frame-child14, .photo1, .price-div, .ellipse-div, .rectangle-div, .frame-child-1, .frame-item, .frame-inner, .field-inner, .field-child1, .field-child3, .field-child4, .photo-child1 {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: graphPlaceHolderShimmer;
  animation-timing-function: linear;

  background: linear-gradient(to right, #fdfdfd 8%, #efefef 45%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}

@keyframes graphPlaceHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.image-4 {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: graphPlaceHolderShimmer;
  animation-timing-function: linear;

  background: linear-gradient(to right, #fdfdfd 8%, #efefef 45%, #fdfdfd 10%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}

/* success msg */
.color-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
}
.alert-badgessuccess1,
.icon-wrapper24px2 {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alert-badgessuccess1 {
  position: relative;
  border-radius: 48px;
  background-color: #58895E;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}
.alert-title1 {
  align-self: stretch;
  font-weight: 600;
  font-size: 16px;
}
.alert-message1,
.alert-title1,
.submit1 {
  position: relative;
  line-height: 16px;
}
.alert-message1 {
  align-self: stretch;
  font-size: var(--font-size-smi);
  font-size: 13px;
}
.text-content1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.internal-content1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.success-alerts,
.internal-content1,
.top-section1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-section1 {
  align-self: stretch;
  flex-direction: row;
  /*padding: 2px 13px*/
}
.success-alerts {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: #FDFDFD;
  width: 100%;
  height: 60px;
  flex-direction: column;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #292929;
  font-family: var(--font-inter);
}
.x-icon3 {
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
  position: initial;
  margin-top: -5px;
}
/* success msg */

.middle-content-empty {
  left: 12px;
  top: 90px;
}

.map-load {
  top:0px;
  position: absolute;
}
