/*
Chat panel
 */

.chatHeader {
	background: #FFF;
	padding: 15px 10px;
}

.chatHeader i {
	margin-top: 5px;
	cursor: pointer;
}

.user-details {
	font-size: 14px;
	font-weight: bold;
	margin-left: 15px;
}

.user-details span {
	font-size: 11px;
	font-weight: normal;
	color: #999;
}

.chatMsg {
	margin: 0;
	max-height: calc(100vh - 243px);
	overflow-y: auto;
}

.chatBubble {
	background-color: #FFF;
	border-radius: 3px;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	min-width: 175px;
	border: 1px solid #CCC;
}

.endConversation {
	text-align: center;
	margin-bottom: 5px;
}

.endSmsChat {
	text-align: center;
	margin-bottom: 5px;
}

.chatBubble:first-child {
	margin-top: 15px;
}

.chatBubble:after, .chatBubble:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.chatBubble:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #FFF;
	border-width: 8px;
	margin-top: -8px;
}

.chatBubble:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CCC;
	border-width: 9px;
	margin-top: -9px;
}

.chatBubble.user {
	float: left;
	margin: 5px 45px 10px 20px;
	padding: 0;
	background: #e5e5e5;
}

.user:after, .user:before {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	transform: rotate(180deg);
}

.chatBubble .chatUser {
	padding: 4px 8px;
	background: #B3B4B4;
	color: #FFF;
	font-weight: bold;
}

.chatBubble.entrata {
	float: right;
	margin: 5px 20px 10px 45px;
	border: 1px solid #B3B4B4;
	padding: 0;
	background: #fff;
	color: #333;
}

.chatBubble .comset-sms {
	position: absolute;
	right:-25px;
	opacity: .4;
}

.chatBubble .whatsapp-icon {
	position: absolute;
	right: -25px;
	opacity: .4;
}

.whatsapp-icon {
	background: url('/images/media/whatsapp_logo.png');
	height: 17px;
	width: 17px;
	float: left;
	margin-top: 4px;
	margin-right: 4px;
}

.entrata:after, .entrata:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.entrata:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #FCF3F0;
	border-width: 8px;
	margin-top: -8px;
}

.entrata:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #C0232C;
	border-width: 9px;
	margin-top: -9px;
}

.chatBubble .chatEntrata {
	padding: 4px 8px;
	background: #FCF3F0;
	color: #333;
	font-weight: bold;
	border-radius: 2px 2px 0 0;
}

.chatBubble .body {
	padding: 10px 15px;
	line-height: 1.3em;
	max-width: 290px;
	overflow-wrap: break-word;
}

.chatBubble .timestamp {
	float: right;
	font-size: 10px;
	padding-left: 20px;
}

.chat_status {
	display: inline-block;
	padding: 6px 6px;
	font-style: italic;
	width: 100%;
}

#chatList ul li {
	padding: 10px 10px;
	height: 64px;
}

#chatList ul li.read {
	border-left-color: #999;
}

#chatList ul li.unread {
	animation: blinker 2s linear infinite;
}

@keyframes blinker {

	50% {
		border-left-color: #FFF;
	}

}

.chatTab.indicator {
	background: #C03B1C;
	border-radius: 12px 12px 12px 12px;
	color: #FFF;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	letter-spacing: 0;
	line-height: 9px;
	min-width: 18px;
	padding: 3px;
	text-align: center;
	border: 0 none;
	margin-left: 3px;
}

.nAlert.chat {
	border-left: 2px solid #FBC63D;
}

.alertList li.chat {
	border-left: 1px solid #D5232E;
}

textarea.enterMessage {
	display: block;
	box-sizing: padding-box;
	overflow: hidden;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	resize: none;
	border: 1px solid #B3B3B3;
	border-radius: 3px;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 0 4px;
	margin: 0 4px 4px -4px;
	vertical-align: top;
	width: 330px;
	height: 90px;
	padding-top: 6px;
	padding-bottom: 6px;
}

textarea.enterSmsMessage {
	display: block;
	box-sizing: padding-box;
	overflow: hidden;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);

	border: 1px solid #B3B3B3;
	border-radius: 3px;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 0 4px;
	margin: 0 4px 4px -4px;
	vertical-align: top;
	width: 202px;
	padding-top: 6px;
	padding-bottom: 6px;
}

@keyframes countdown {

	from {
		stroke-dashoffset: 0px;
	}

	to {
		stroke-dashoffset: 113px;
	}

}

.offline {
	z-index: 999;
	background: #FFF;
	margin: 15px 20px 2px 20px;
	border: 1px solid #DDD;
}

.offlineOptions {
	margin: 5px 20px 10px 45px;
	cursor: pointer;
	line-height: 1.3em;
	transition: all .3s;
}

div.offlineOptions:hover {
	background: #F7F7F7;
	font-weight: bold;
}

.chat_history {
	overflow: hidden;
	width: 350px;
	background: #F0F0F0;
	box-shadow: 0px 0px 3px #999;
	margin: 20px auto;
}

.clean tr td.padding30-left {
	padding-left: 40px;
}

.enterMessage{
	z-index: auto; position: relative; line-height: normal; font-size: 13px;
}

#show_chat_state {
	height: 20px;
	color: mediumseagreen;
	font-weight: bold;
	padding: 0 10px;
}
.chatMsg::-webkit-scrollbar {
	width: 5px;
}

.chatMsg::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.chatMsg::-webkit-scrollbar-thumb {
	background: #888;
}

.chatMsg::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.chatMinTab {
	background: #FFF;
	padding: 15px 10px;
	position: fixed;
	top: 85px;
	right: -360px;
	box-shadow: 1px 3px 13px 4px grey;
}

/*
Used on Lead list to show last contacted
*/
i.whatsapp_icon {
	height: 17px;
	width: 17px;
}

.whatsapp_icon {
	background: url('/images/media/whatsapp_logo.png');
	margin: 0;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	max-height: calc(100vh - 322px);
	overflow-y: auto;
	fill: var(--m-blue-700);
}
