#unpaid_invoices_list_container .slim{
    float:left;
    width:100%;
}
.cleared-check-submit-container{
    position: sticky !important;
}
.fast-lookup table tr td:first-child{
    text-align: left;
}

.fast-lookup table tr td span.user-subtype {
	color: #999 !important;
	display: block !important;
	font-weight:normal !important;
	font-size: 8px !important;
	margin-top: 2px !important;
}

.submit-container-bank-rec{
    position: relative !important;
    z-index: 0 !important;
    width: 100% !important;
}
.bank-rec-pad{
    width: 56.65%;
}
.action-button-pad{
    padding: 3px 16px !important;
}
.test{
    margin: 7px 5px 9px 0 !important;
}
.je-links{
    text-align:left;
}
.form.je-entry-form {
    width: 99.5%;
    float: left;
    border-top: 0;
    margin-top: -11px;
    min-height: 831px;
    padding-bottom: 5%;
}
.form.je-entry-form-br {
    width: 99.5%;
    margin-top: 24px;
    border: none;
}
.je-overlay-setup-custom{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99998;
    background: rgba(255,255,255,0.8);
}

#invoice_date,#due_date_invoice_filter {
    float:left;
}

.je-date .ui-datepicker-trigger {
    float: left;
}
.je-input-field{
    float:left !important;
}
.nContainer * {
    box-sizing: border-box;
}
/* Notification panel */

.notification-header {
    padding: 14px 15px 14px;
}

#header #logo-search ul li#search input {
    width: 190px !important;
}

#header #logo-search ul {
    margin-right: 50px;
}

.notificationsBtn {
    position: fixed;
    cursor: pointer;
    top: 15px;
    right: 10px;
    z-index: 902;
}

i.notifications.modalOpen {
    background-position: -386px -20px;
    height: 20px;
    width: 20px;
    top:13px;
}

.panel {
    width: 350px;
    background: #F0F0F0;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: -360px;
    z-index: 1002;
    box-shadow: -1px 3px 3px #999;
}

.panel header {
    background: #FFF;
    display: block;
    min-height: 50px;
    border-bottom: 1px solid #CCC;
}

.notification-container {
    top: 50px !important;
    display: none;
    position: absolute !important;
}

.notification-container-header {
    right: 287px !important;
}

.notification-container-header-last {
    right: 270px !important;
}

.notification-container-large-modal {
    right: 151px !important;
}

.notification-container-right {
    right: 252px !important;
}

.notification-container-large-modal-right {
    right: 117px !important;
}

.entrata-banner .notification-container {
    top: 96px !important;
}

.entrata-banner .notification-header {
    padding: 14px 15px 14px !important;
}

.alertList {
    padding-left: 0px;
}

.alertList li, .alertList li.move-out {
    background: #FFF;
    padding: 10px 0px 10px 10px;
    line-height: 1.3em;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    height: 50px;
    margin-bottom: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.alertList li.system_alert {
    border-left: 1px solid #D5232E;
}

.alertList li.queued_alert {
    border-left: 1px solid #1175CE;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.alertList li.user_scheduled_alert {
    border-left: 1px solid #FBC63D;
}

.alertList li.reminders {
    border-left: 1px solid #389F01;
}

.alertList li:hover {
    box-shadow: -1px 1px 5px #CCC;
    z-index: 99;
    margin-left: 10px;
}

.alertList li .date {
    position: absolute;
    right: 10px;
    top: 18px;
    font-size: 11px;
}

.deleteWrapper {
    position: absolute;
    top: 0;
    right: 0px;
    width: 0px;
    height: 50px;
    text-align: center;
    background: #FFF;
    border-left: 1px solid #DDD;
    transition: all .2s;
}

.deleteWrapper:hover {
    background: #EEE;
}

.deleteWrapper i {
    margin: 0;
    margin-top: 15px;
}

.deleteWrapper p {
    margin: 0;
    padding-top: 15px;
    color: #1175CE;
    font-size: 11px;
}

.alertList li:hover .deleteWrapper {
    width: 50px;
}

.alertList li .todayDate {
    font-size: 11px;
    float: left;
    min-width: 40px;
}

.alertList li .todayText {
    float: left;
    padding-left: 10px;
}

.alertList li.category {
    background: none;
    padding: 20px 0px 5px 0px;
    line-height: 1.3em;
    border-left: none;
    text-transform: uppercase;
    height: auto;
    font-size: 10px;
}

.alertList li.category:hover {
    box-shadow: 0 0 0;
    z-index: 99;
    margin-left: 20px;
    cursor: auto;
}

header input[type=radio] {
    display: none;
}

header input[type=radio] + label {
    display: inline-block;
    margin: -3px;
    color: #333;
    background: #FFFFFF;
    border: none;
    font-size: 12px;
    line-height: 26px;
    min-height: 24px;
    width: 30%;
    text-align: center;
}

header input[type=radio]:checked + label {
    background-image: none;
    background-color: #FFFFFF;
    box-shadow: none;
}

header input[type=radio] + label.first {
    border-radius: 3px 0 0 3px;
}

header input[type=radio] + label:last-child {
    border-radius: 0 3px 3px 0;
}

/* Notification popup */
.nAlertText {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 265px;
    white-space: nowrap;
    display: inline-block;
}

.nAlertWrapper {
    position: fixed;
    right: 10px;
    top: 20px;
    width: 350px;
    z-index: 1000000;
    max-height: 360px;
    overflow: hidden;
}

.nAlert {
    background: #FFF none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px #333;
    cursor: pointer;
    line-height: 1.2em;
    position: relative;
    right: -360px;
    top: 8px;
    width: 340px;
    z-index: 999999;
    height: 60px;
    margin: 0 0 12px 0;
}

.nAlert.alert1, .nAlert.system_alert {
    border-left: 2px solid #D5232E;
}

.nAlert.alert2, .nAlert.queued_alert {
    border-left: 2px solid #1175CE;
}

.nAlert.alert3, .nAlert.user_scheduled_alert {
    border-left: 2px solid #FBC63D;
}

.nAlert.alert4, .nAlert.reminders {
    border-left: 2px solid #389F01;
}

.nAlert .left {
    padding: 14px 12px;
    min-height: 60px;
    border-right: 1px solid #DDD;
}

.nAlert .left:hover, .snoozeWrapper p:hover {
    background: #F7F7F7;
}

.text {
    width: 80%;
}

.highlight-request {
    color: #D5232E;
}

.call_incoming {
    border-left: 1px solid #D5232E;
    animation: blinker 2s linear infinite;
}

.snoozeWrapper {
    width: 20%;
    padding: 0;
}

.snoozeWrapper p.option1 {
    padding: 19px 14px;
    font-size: 11px;
}

.snoozeWrapper p.option2 {
    padding: 4px 10px 5px;
    font-size: 11px;
    border-bottom: 1px solid #DDD;
}

.snoozeWrapper p.option2:last-child {
    border-bottom: none;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.priorityHide {
    display: none !important;
}

ul.alertList li.unread {
    animation: blinker 2s linear infinite;
}

.inline-flex {
    display: inline-flex;
}

.display-flex-direction {
	flex-direction: column;
}

.toogle_unit_type_list {
    height: 38px;
    margin-top: 10px;
    text-align: center !important;
    display: block!important;
}

@media screen and (min-width: 1640px)
{
    #viewInvoiceWrapper{
        width: 36% !important;
        margin-top: -11px !important;
    }
    #viewInvoiceWrapper.collapsed{
        width: auto !important;
        min-height: 871px;
    }
    .full-width.view-form-content.expanded{
        width: 94% !important;
    }
}@media screen and (min-width: 1640px)
{
    #viewInvoiceWrapper{
        width: 36% !important;
        margin-top: -11px !important;
    }
    #viewInvoiceWrapper.collapsed{
        width: auto !important;
        min-height: 871px;
    }
    .full-width.view-form-content.expanded{
        width: 94% !important;
    }
}@media screen and (min-width: 1640px)
{
    #viewInvoiceWrapper{
        width: 36% !important;
        margin-top: -11px !important;
    }
    #viewInvoiceWrapper.collapsed{
        width: auto !important;
        min-height: 871px;
    }
    .full-width.view-form-content.expanded{
        width: 94% !important;
    }
}
